<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQWmEPYlUC0sDv9WbHtqoJZcdm-Rwcqlc</string>
	<key>GCM_SENDER_ID</key>
	<string>543156959651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab12</string>
	<key>PROJECT_ID</key>
	<string>flutterhw-f41e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhw-f41e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543156959651:ios:f044b58e2f5d17c35c8216</string>
</dict>
</plist>